*.pyc
*__pycache__*
*.swp
doc/_build/
*~
Notes
tmp/
dist/
fbd_interpreter.egg-info/
build/
.ipynb_checkpoints/
*.ipynb
.DS_Store
meta_build.json
.idea/
fbd_interpreter/data_factory/
outputs/global_interpretation/
outputs/local_interpretation/
outputs/logs.log
doc/
htmlcov/
.coverage